/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Dropdown Menu */
body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropDownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.dropDown1,
.dropDown2 {
    position: relative;
    cursor: pointer;
    background-color: palevioletred;
    height: 3rem;
    margin: 2rem;
    padding: 1rem 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.dropDown1 a,
.dropDown2 a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    margin-right: 1.2rem;
}

.text1,
.text2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #fff;
    margin-top: 0.4rem;
}

.mealOptions li,
.sportOptions li {
    list-style: none;
    padding: 0.6rem;
    border-bottom: 2px solid beige;
}

.mealOptions,
.sportOptions {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: pink;
    border-bottom-right-radius: 5px;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.mealOptions li:hover,
.sportOptions li:hover {
    background-color: rgb(213, 173, 186);
}

.mealOptions.show,
.sportOptions.show {
    height: 14.13rem;
}

/* Mobile Menu */

.mobileMenuContainer {
    position: relative;
    margin-top: 10rem;
    width: 25vw;
    height: 90vh;
    margin-bottom: 5rem;
    background-color: white;
    border-radius: 25px;
}

.menuIcon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.line {
    width: 2rem;
    height: 0.4rem;
    background-color: black;
    margin-bottom: 0.3rem;
    border-radius: 20px;
}

.navContainer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.search {
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal1,
.animal2 {
    width: 23vw;
    height: 34vh;
    background-color: lightgray;
    margin-bottom: 2.4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 21vw;
    height: 21vh;
    background-image: url(images/bird.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-bottom: 0.4rem;
}

.img2 {
    width: 21vw;
    height: 21vh;
    background-image: url(images/frog.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 5px;
    margin-bottom: 0.4rem;
}

.animal1 p,
.animal2 p {
    margin-left: 0.9rem;
    margin-right: 0.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    /* width: 20vw; */
    height: 90vh;
    background-color: rgb(104, 161, 18);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.menu.slideOut {
    width: 20vw;
}

.pfp {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.accountInfo {
    margin-right: auto;
    margin-left: 2rem;
}

.accountInfo h2,
.accountInfo p {
    margin-bottom: 2rem;
}

.cancel {
    cursor: pointer;
    padding: 1.3rem;
    font-size: 1.5rem;
    margin-left: auto;
}

/* Image Slider Section */

.imageSlider {
    width: 50vw;
    height: 50vh;
    background-image: url(images/beach.jpg);
    background-size: cover;
    background-position: center;
    margin: 5rem;
    position: relative;
    transition: background-image 0.5s ease-in-out
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftArrow, .rightArrow {
    cursor: pointer;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 10px;
}

.leftArrow {
    transform: rotate(135deg);
    margin-left: 1.2rem;
}

.rightArrow {
    transform: rotate(-45deg);
    margin-right: 1.2rem;
}

.circleContainer {
    position: absolute;
    display: flex;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.circle{
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: black;
    margin-bottom: 5rem;
    border-radius: 50%;
    margin-left: 1.3rem;
}

.active{
    background-color: white;
}


